body {
  margin: 0;
  background-color: #2D2727;
  font-family: 'JetBrains Mono';
}

/* styling header  */
.main-header{
  grid-area: header;
  color: #E9D5DA;
  margin-left: 30px;
}

h2, h3{
  color: #827397;
  font-weight: bolder;
}

h5, p{
  color: #E9D5DA;
  margin: 0;
}

li{
  color: white;
}
/* styling nav bar */
/* Add a black background color to the top navigation */
.topnav {
  grid-area: nav;
  background-color: #191825;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #827397;
  color: white;
}

/* styling content  */
.content{
  grid-area: content;
  color: #827397;
  margin-bottom: 100px;
}

/* styling cards  */
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 270px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #827397;
  margin-top: 40px;
}

/* styling buttons  */
.buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn {
  transition-duration: 0.4s;
  color: #827397;
  width: 270px;
  font-size: 35px;
  font-family: 'JetBrains Mono';
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #827397; 
  color: white;
}


/* styling footer  */
.main-footer{
  font-size: 15px;
  grid-area: footer;
  color: #eceaf2;
  border-top: 5px solid #827397;
  text-align: center;
  padding-top: 10px;
}

.profile{
  grid-area: "profile";
  
  margin-top: 30px;
  margin-left: 30px;
}

.id-photo{
  border-radius: 10px;
  border: 2px solid #827397;
  justify-content: center;
}

.info{
  grid-area: "info";
  margin-right: 30px;
}

.personal-blog{
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-areas: "profile" "area";
  margin-bottom: 50px;
  margin-top: 15px;

}
/* manage grid layout */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto 1fr 50px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}